body.page-admin-config-administration-passbeemedia #branding {
  background: url('../images/passbeemedia-red-logo.png') center center no-repeat #e0e0d8;
}

body.page-admin-config-administration-passbeemedia #overlay-content #branding {
  background: url('../images/passbeemedia-red-logo.png') center center no-repeat;
  padding: 25px 0;
}

body.page-admin-config-administration-passbeemedia fieldset,
body.page-admin-config-administration-passbeemedia #overlay-content fieldset {
  min-width: 1000px;
}

.passbeemediaer_box {
  width: 520px;
  margin: 0 auto;
  padding:40px;
	background: linear-gradient(to bottom, #5B92FA 0%, #336BD4 100%) repeat scroll 0% 0% transparent;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #5B92FA 0%, #336BD4 100%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

#passbeemediaForgotPassword {
  margin-left: 20px;
}

#passbeemediaer {
  margin: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.passbeemediaer_text {
  padding:5px 0;
  font-size:16px;
}
#passbeemediaer #logo {
	height: 80px;
	background: url('../images/passbeemedia_logo.png') left center no-repeat;
}

#passbeemediaLoginForm .form-item {
  padding: 0;
  margin:0;
  padding-top:15px;
}

#passbeemediaLoginForm input[type="text"],
#passbeemediaLoginForm input[type="password"] {
  height: 25px;
}

#passbeemediaer select {
  margin: 5px 0 0;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

#passbeemediaer a,
#passbeemediaer a:link,
#passbeemediaer a:visited {
  text-decoration: underline;
  color: #fff;
}

#passbeemediaer a:hover {
  text-decoration: underline;
}

.passbeemediaer_box input.form-text {
  width: 370px;
  padding: 0 10px;
}
.passbeemediaer_box input.form-submit {
	border-radius:3px;
	margin-top:25px;
}

#passbeemediaer input:disabled,
#passbeemediaer select:disabled,
#passbeemediaer textarea:disabled,
#passbeemediaer submit:disabled {
  background: #d4d7d9;
  cursor: not-allowed;
}

#passbeemediaer_manual_push {
  margin-top: 50px;
}

#passbeemediaer_settings .form-type-checkbox label {
  font-weight: bold;
  float: left;
  width: 165px;
}

#passbeemediaer_settings .description {
  display: inline;
}

#passbeemediaer_manual_push input.form-submit,
#passbeemediaer_settings input.form-submit {
  float: right;
}

#passbeemediaer_all_time fieldset div div {
  display: inline-block;
  width: 24.5%;
  font-size: 14px;
  text-align: center;
  color: #444;
  white-space: nowrap;
  padding-top: 25px;
  border-right: 1px solid #aaa;
  height: 70px;
  vertical-align: middle;
}
#passbeemediaer_all_time fieldset div div:last-child {
  border-right: none;
}
#passbeemediaer_all_time .passbeemedia-stat {
  font-size: 55px;
  display: block;
  margin-bottom: 25px;
  color: #aaa;
}

#passbeemediaer_all_time .passbeemedia-stat .passbeemedia-stat-tag {
  font-size: 35px;
}

#passbeemedia_top_right {
  text-align: right;
}
#passbeemedia_top_right div {
  display: inline-block;
  font-weight: bold;
}
#passbeemedia_top_right a {
  margin-left: 30px;
  padding: 5px 10px;
  color: black;
  background-color: #f0f0f0;
  border: 1px solid gray;
  border-radius: 15px;
}

#passbeemedia-plugin-form div fieldset {
  overflow: hidden;
}

#passbeemedia-plugin-form div fieldset .fieldset-legend {
  width: 100%;
  background-color: #ddd;
  margin: 0;
  padding: 5px;
  text-transform: none;
}

#passbeemediaer_settings .form-item {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 20px auto 0;
}

#passbeemediaer_settings .description {
  display: block;
  width: 80%;
  position: relative;
  left: 175px;
  top: -19px;
}

#adminmenu li.current .wp-menu-image img,
#adminmenu li.wp-not-current-submenu .wp-menu-image img {
  opacity: 1;
}

hr {
  height: 1px;
  background: #d4d7d9;
  border: 0;
  margin: 15px 0 20px;
}

.type-submit {
  font-size: 13px;
  border-radius: 3px;
  background: #2ea2cc;
  color: #fff;
  box-shadow: none;
  border: 1px solid;
  border-color: #0074a2;
  padding: 5px 0 6px;
  width: 94px;
  cursor: pointer;
}

.left-link {
  float: left;
  font-size: 14px;
}

input.type-text {
  width: 340px;
  height: 36px;
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
}

#passbeemedia-manual-send-section {
  height: 225px;
}

#passbeemedia-manual-send-wrapper {
  margin-top: 15px;
}

#passbeemedia-manual-send-wrapper .type-text {
  display: block;
  width: 895px;
  height: 27px;
}

#passbeemediaHeader {
  display: inline-block;
  position: relative;
  height: 36px;
  width: 100%;
  margin-top: 7px;
  padding: 16px 0 0 0;
}

#passbeemediaHeaderRight {
  float: right;
  width: 550px;
  margin: 5px;
}

#passbeemediaUsername {
  color: #666666;
  font-size: 15px;
  margin-top: -4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: inline-block;
  width: 425px;
  float: right;
  margin-right: 20px;
  text-align: right;
}

#passbeemediaLogOut {
  color: #666666;
  background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid #cccccc;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: 90px;
  display: block;
  float: right;
}

.passbeemedia-wrapper {
  margin: 0 auto;
  width: 1066px;
}

.passbeemedia-wrappper-override {
  margin: 0 auto;
  width: 90px;
}

#passbeemedia-main-wrapper {
  margin: -1px auto 0;
  width: 1066px;
  min-height: 1200px;
}

.passbeemedia-primary-wrapper {
  background: #fff;
  width: 366px;
  margin: 100px auto;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

#passbeemedia-primary-logo {
  height: 64px;
  background: rgb(226, 83, 81);
  text-align: center;
}

#passbeemedia-primary-logo img {
  height: 40px;
  width: 72px;
  margin-top: 12px;
}

.passbeemedia-primary-heading {
  background: #fafafa;
  height: 35px;
  text-align: center;
  padding: 19px 30px;
  border-bottom: 1px solid #d4d7d9;
}

.passbeemedia-primary-footer {
  background: #fff;
  height: 35px;
  text-align: center;
  padding: 14px 30px 20px;
}

.passbeemedia-login-input {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.passbeemedia-primary-wrapper input.type-text {
  width: 214px;
  height: 26px;
  float: right;
  margin-top: -2px;
}

.passbeemedia-primary-wrapper select {
  width: 100%;
  background: #fff url('../images/drop-down-arrows.png') no-repeat 340px center !important;
}

.passbeemediaDisclaimer {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-style: italic;
  display: inline-block;
  width: 290px;
  margin: 5px 0 0 5px;
}

.passbeemedia-primary-cta,
.passbeemedia-secondary-cta {
  display: block;
}

.passbeemedia-primary-cta {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 10px;
  color: #222222;
  margin-bottom: 10px;
}

.passbeemedia-secondary-cta {
  font-size: 13px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.passbeemedia-section-wrapper {
  background: #f3f4f5;
  margin: 25px 0;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.passbeemedia-section-heading {
  color: #222222;
  border-bottom: 1px solid #daddde;
  background: #fff;
  width: 100%;
  display: inline-block;
  position: relative;
  height: 17px;
  padding: 10px 0 10px 0;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-indent: 13px;
}

.passbeemedia-section-expansion {
  width: 11px;
  height: 6px;
  display: block;
  position: relative;
  background: url('../images/passbeemedia-arrow.png') no-repeat;
  right: 13px;
  float: right;
  top: -21px;
  cursor: pointer;
}

.passbeemedia-section-expansion {
  transition-duration: 0.2s;
}

.passbeemedia-section-expansion.collapsed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  zoom: 1;
}

.passbeemedia-section-content {
  padding: 30px 30px 0 30px;
}

.passbeemedia-section-secondary {
  padding: 13px 0 0 13px;
  background-color: #fff;
}

.passbeemedia-section-secondary .type-submit {
  float: right;
  width: 130px;
  margin: 2px 0 0 0;
}

#passbeemedia-all-stats {
  padding: 0;
  margin: 0;
}

#passbeemedia-recent-activity {
  background: url('../images/coming-soon.png') no-repeat;
  background-size: cover;
  height: 275px;
}

#passbeemedia-all-stats {
  background: url('../images/stats-placeholder.png') no-repeat;
  background-size: cover;
  background-color: #fff;
  height: 135px;
}

.passbeemedia-no-collapse {
  position: relative;
  width: 1025px;
  display: inline-block;
}

#passbeemedia-registration-points {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

#passbeemedia-registration-points li {
  display: inline-block;
  width: 240px;
  height: 40px;
  margin-right: 38px;
}

#passbeemedia-registration-points li:last-of-type {
  margin-right: 0;
}

.passbeemedia-step {
  color: #fff;
  background: #e25351;
  display: inline-block;
  padding: 10px 9px 8px 9px;
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 20px;
  text-indent: 5px;
  margin-right: 10px;
}

#passbeemedia-vert-wedge {
  display: inline-block;
  width: 180px;
  top: 8px;
  position: relative;
}

.passbeemedia-input-text {
  width: 100%;
  position: relative;
  display: inline-block;
  height: 71px;
}

.passbeemedia-input-text .passbeemedia-label,
#passbeemedia-block .passbeemedia-label {
  width: 110px;
  margin-right: 14px;
  display: block;
  float: left;
}

#passbeemedia-block .passbeemedia-label {
  width: 175px;
  margin-right: 25px;
  position: relative;
  top: -4px;
}

.passbeemedia-input-caption {
  font-style: italic;
  font-size: 13px;
  display: block;
  margin-top: 5px;
}

.passbeemedia-input-wrapper,
.passbeemedia-setting-wrapper {
  display: block;
  width: 890px;
  float: left;
}

.passbeemedia-setting-wrapper {
  width: 100%;
  height: 35px;
  margin-bottom: 12px;
}

.passbeemedia-setting-wrapper:nth-child(2) {
  margin-bottom: 30px;
}

.passbeemedia-setting-wrapper:nth-child(3) {
  margin-bottom: 8px;
}

.passbeemedia-setting-wrapper input {
  float: left;
  top: 5px;
  margin-right: 10px;
  position: relative;
}

.passbeemedia-setting-caption {
  font-style: italic;
  width: 775px;
  display: block;
  float: left;
}

.passbeemedia-label {
  display: inline-block;
  margin: 4px 0 1px 5px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

#passbeemedia-block {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 210px;
  padding: 15px 0 0;
}

.passbeemedia-os-bold {
  font-weight: 600;
}

#passbeemediaer-status {
  background: #fff;
  width: 1022px;
  color: #222222;
  font-size: 13px;
  padding: 17px 20px;
  margin: 15px auto;
  display: block;
  border-left: 4px solid rgb(226, 83, 81);
}

#passbeemediaer-status-text {
  width: 910px;
  display: inline-block;
}

#passbeemediaer-status-close {
  font-family: 'Open Sans', sans-serif;
  color: rgb(46, 162, 204);
  height: 16px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  float: right;
}

#passbeemedia-middle-save {
  display: block;
  float: right;
}

.passbeemediaer-custom-script {
  width: 220px;
  padding: 10px;
  height: 75px;
}

.passbeemedia-text-pinch {
  width: 200px;
  margin-top: 50px;
  display: inline-block;
}
#passbeemediaUserLogo {
  display: inline-block;
  top: 6px;
  position: relative;
  border-radius: 3px;
  height: 24px;
  margin-right: 15px;
}

#passbeemediaUserLogo img {
  border: 1px solid #cccccc;
  border-radius: 3px;
}

#passbeemediaer_recent_activity {
  height: 290px;
  background: url('../images/coming-soon.png') no-repeat center;
  background-size: cover;
  margin: 20px auto;
  display:none;
}

.passbeemedia-stats-metric {
  display: block;
  height: 75px;
  width: 265px;
  float: left;
  padding: 42px 0 17px;
  border-right: 1px solid #eeeeee;
  position: relative;
  top: -6px;
}

.passbeemedia-stats-metric:last-of-type {
  border-right: none;
}

.passbeemedia-stat {
  color: #aaaaaa;
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 60px;
}

.passbeemedia-stat-label {
  display: block;
  width: 215px;
  margin: 25px auto 0;
  text-align: center;
  color: #222222;
}

#passbeemedia-all-stats .passbeemedia-no-collapse {
  width: 100%;
}

#passbeemedia-time-label {
  font-size: 30px;
}

#passbeemediaer_settings .form-item.form-item-passbeemedia-mobile-push-support, #passbeemediaer_settings .form-item.form-item-passbeemedia-all-features {
	display:none;
}

#passbeemediaLoginForm label {
	height:22px;
	line-height:22px;
	color:#fff;
	font-size:14px;
	font-weight:normal;
}